:root.theme-dark {
  --main-color: #ff0070;
  --accent-color: #DB00FF;
  --main-bg-color: #000028;
  --text-color: #F1B2CE; 
  --hover-color:rgba(255, 0, 112, 0.4);
  --focus-color: #ff0070;
  --text-title-color: #ff0070;
  --decorated-color: #ff0070;
}

.theme-dark .page { 
  background-image: var(--bg-image-dark);
}

:root.theme-auto {
  @media (prefers-color-scheme: dark) {
  .header__theme-menu::before {
    display: none;
  }
  .header__theme-menu::after {
    display: none;
  }
}
}

