:root {
  --main-font:'IBM Plex mono';
  --bg-image-dark: url("../images/cover-image-dark.png");
  --main-bg-color: #000028;
  --text-title-color: #ff0070; 
  --main-color: #ff0070;
  --accent-color: #DB00FF;
  --text-color: #F1B2CE;
  --link-color: #F1B2CE;
  --hover-color: rgba(255, 0, 112, 0.4);
  --focus-color: #ff0070;
  --decorated-color: #ff0070;
}